<h1>Listing locations_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations_users.each do |locations_user| %>
  <tr>
			<td>			<%= locations_user.user_id %></td>
			<td> <%= locations_user.location_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Locations user', new_locations_user_path %>
