<h1>Listing locations_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations_users.each do |locations_user| %>
  <tr>
    <td><%= link_to 'Show', locations_user %></td>
    <td><%= link_to 'Edit', edit_locations_user_path(locations_user) %></td>
    <td><%= link_to 'Destroy', locations_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Locations user', new_locations_user_path %>
