<p id="notice"><%= notice %></p>

<p>
  <b>Params:</b>
  <%= @synthinstance.params %>
</p>


<%= link_to 'Edit', edit_synthinstance_path(@synthinstance) %> |
<%= link_to 'Back', synthinstances_path %>
